<p>Check console!</p>
<div>
  <h3>Observables</h3>

  <b>They are cold:</b> Code gets executed when they have at least a single
  observer.<br>

  <b>Creates copy of data:</b> Observable creates copy of data for each
  observer.<br>

  <b>Uni-directional:</b> Observer can not assign value to
  observable(origin/master).<br>
  <button (click)="showCode()">Show code</button>
</div>
<div *ngIf="show">
  <pre>
        
        /// - cold - if there is no observer, it doesn't run
        /// - creates copy of data - each observer has a copy and the code executed individually
        /// - observer can not assign value

        ngOnInit() {{ "{" }}
        
            console.log( 
              "------------ 🎊 🎉 Lets Start Learning Observables vs Subjects 🎊 🎉 ------------------"
            );
        
            const observable1 = new Observable(a => {{ "{" }}
              console.log("Lets initialize observable 1.");
              a.next("Message from Observable 1");
            });
        
            const observable2 = new Observable(a => {{ "{" }}
              console.log("Lets initialize observable 2");
              a.next("Message from Observable 2");
            });
        
            observable2.subscribe(v => console.log(v));
        
            console.log(
              "No message from observable 1 since there is no subscriber/observer."
            );
            console.log(
              "------------ 🙏🏻 END of observable story 🙏🏻 ------------------"
            );
          }
    </pre
  >
</div>
