<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li>
      <a
        routerLink="/first-component"
        routerLinkActive="active"
        [queryParams]="{ name: 'Teste' }"
        att=1
        #link
        >First Component</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/second-component']"
        routerLinkActive="active"
        [queryParams]="{ name: 'Teste' }"
        >Second Component</a
      >
    </li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<p>First Router Outlet</p>
<router-outlet></router-outlet>
<p>Second Router Outlet</p>

<p>Third Router Outlet</p>
<router-outlet name="third"></router-outlet>
