<mat-card class="content" fxLayout="column">
  <mat-card-content>
    <div class="header" fxLayout="row" fxLayoutAlign="space-between start">
      <div class="partner-logo"></div>
      <a
        href="https://www.ufjf.br/gv/"
        target="_blank"
        title="Visitar site da UFJF"
      >
        <div class="logo"></div
      ></a>
    </div>
    <p class="msg-title">Plugue! Calouros 2021.1</p>
    <p class="text-line">Matrícula: {{ matricula }}.</p>
    <p class="text-line">
      Você acertou {{rightAnswers.length }} {{ rightAnswers.length > 1 ?
      'perguntas' : 'pergunta'}} em {{ timer | timeIt }}.
    </p>
    <p class="text-line">
      Obrigada pela participação e até a próxima!
    </p>
  </mat-card-content>
  <mat-card-actions
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="1rem"
  >
    <button
      class="custom-btn"
      mat-raised-button
      color="warn"
      routerLink="/home"
    >
      Finalizar
    </button>
    <button
      class="custom-btn"
      mat-raised-button
      color="warn"
      routerLink="/ranking"
    >
      Ranking
    </button>
  </mat-card-actions>
</mat-card>
