* {
  box-sizing: border-box;
}

button {
  background-color: bisque;
}

[disabled] {
  background-color: blue;
}

.sub-class {
  background-color: green;
}

#btn-submit {
  background-color: yellow;
}
