<div class="container">
  <h4 id="titulo">
    Prontuário do Estágio Supervisionado de Clínica Integrada 3
  </h4>

  <p>Anamnese</p>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nome do paciente</mat-label>
      <input matInput placeholder="Ex. João da Silva" value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <button type="submit">Gravar</button>
  </form>
  <!--
  <form action="#">
    <label for="nome">Nome do paciente:</label>
    <input type="text" id="nome" name="nome" />
    <ol>
      <li>
        <div class="pergunta">
          Você foi diagnosticado com COVID-19 ou você suspeita que já teve ou
          tem COVID-19?
          <label for="pergunta-01-sim">Sim</label>
          <input
            type="radio"
            name="pergunta-01-sim"
            id="pergunta-01-sim"
            value="Sim"
          />
          <label for="pergunta-01-nao">Não</label>
          <input
            type="radio"
            name="pergunta-01-nao"
            id="pergunta-01-nao"
            value="Não"
          />
        </div>
      </li>
      <li>
        <div class="pergunta">
          Teve febre nos últimos 14 dias?
          <label for="pergunta-02-sim">Sim</label>
          <input
            type="radio"
            name="pergunta-02-sim"
            id="pergunta-02-sim"
            value="Sim"
          />
          <label for="pergunta-02-nao">Não</label>
          <input
            type="radio"
            name="pergunta-02-nao"
            id="pergunta-02-nao"
            value="Não"
          />
        </div>
      </li>
      <li>
        Teve problemas respiratórios, tais como tosse ou dificuldade
        respiratória nos últimos 14 dias?
      </li>
      <li>Viajou nos últimos 14 dias?</li>
      <li>
        Teve contato com algum paciente com infecção confirmada por Coronavirus
        nos últimos 14 dias?
      </li>
      <li>Teve contato com alguém com sintomas nos últimos 14 dias?</li>
      <li>
        Participou recentemente de algum encontro, reuniões ou teve contato
        próximo com muitas pessoas desconhecidas?
      </li>
      <li>
        Possui algum problema crônico respiratório, cardíaco ou de pressão
        arterial?
      </li>
      <li>Possui algum outro problema de saúde?</li>
      <li>Faz uso de algum medicamento?</li>
      <li>
        Temperatura corporal:
        <input type="text" />
      </li>
    </ol>
  </form> -->
</div>
