<mat-card class="mat-elevation-z24">
  <mat-card-header fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>Quiz Calouros 2021.1.</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutGap="0.8rem">
    <div
      id="content-title"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxFill
    >
      <span id="progresso-pergunta"
        >Pergunta {{currentQuestionIndex + 1}} de {{questions.length }}</span
      >
      <div
        class="timer-box"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="0.25rem"
      >
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >schedule</mat-icon
        >
        <span class="timer-ext">{{ timerInt | timeIt }}</span>
      </div>
    </div>
    <ng-template [appQuestionHost]></ng-template>
  </mat-card-content>
  <mat-card-actions
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="0.25rem"
  >
    <button
      class="custom-btn"
      mat-raised-button
      color="warn"
      [disabled]="finishedAnswering || currentQuestionIndex === 0 "
      (click)="onPrevious()"
    >
      Voltar
    </button>
    <button
      class="custom-btn"
      mat-raised-button
      color="warn"
      [disabled]="finishedAnswering || disabledNextSubmitBtn"
      (click)="onNextSubmit()"
    >
      {{questions.length - 1 === currentQuestionIndex ? "Terminar" :
      "Continuar"}}
    </button>
  </mat-card-actions>
</mat-card>
