.container {
  height: 100%;
  padding: 1rem;
  background-color: antiquewhite;
}

.quiz-box {
  /* width: 30%; */
  text-align: justify;
  padding: 3rem;
}

.example-full-width {
  width: 100%;
}

@media screen and (min-width: 600px) {
  mat-card {
    width: 50%;
  }
}

mat-card {
  padding: 0;
}

mat-card-header {
  background-color: firebrick;
}

mat-card-title {
  margin-top: 0.5rem;
  color: white;
}

mat-card-subtitle {
  margin-top: 0.5rem;
  color: white;
}
mat-card-content {
  padding: 0.5rem;
}

#content-title {
  margin-bottom: 1rem;
}

.timer {
  /* color:brown; */
  /* font-weight: bold; */
}
