#content-title {
  margin-bottom: 3rem;
  font-size: 12px;
  font-weight: bold;
}

mat-card {
  padding: 0;
  margin: 1rem;
  border-radius: 1rem;
}

mat-card-header {
  background-color: #d32f2f;
  padding: 1.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

mat-card-title,
mat-card-subtitle {
  margin: 0;
  /* font-family: "Open Sans", sans-serif !important; */
  color: white;
  text-align: center;
}

mat-card-title {
  font-weight: bold;

}

mat-card-content {
  padding: 1.5rem;
}

mat-card-actions {
  /* padding: 1.5rem; */
}

mat-card-actions button {
  width: 7rem;
  margin-bottom: 1.5rem;
}

#progresso-pergunta {
  color: #b0b0b0;
}

#final-msg-box .custom-btn {
  margin-top: 2rem;
}

.timer-box mat-icon {
  color: #b0b0b0;
}

.timer-box .timer-ext {
  color: #8f8c8c;
}
