.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 45%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav ul {
  padding: 0;
}

.sidenav li {
  list-style: none;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (min-width: 600px) {
  .sidenav {
    display: none;
  }
}
