<div class="container">
  <h1 id="titulo" style="text-align: center;">
    Anamnese
  </h1>

  <form [formGroup]="formCovid" (ngSubmit)="onSubmit()">
    <div
      fxLayout="column"
      fxLayoutAlign.gt-xs="space-between baseline"
      fxLayoutGap.gt-xs="0.8rem"
    >
      <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
        <mat-checkbox
          (change)="onChangeCheckBox($event)"
          formControlName="e_paciente"
          labelPosition="before"
          color="primary"
          >É paciente?</mat-checkbox
        >
        <mat-form-field appearance="standard">
          <mat-label>Data de cadastro</mat-label>
          <input
            matInput
            formControlName="data_cadastro"
            [matDatepicker]="dtCad"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dtCad"
          ></mat-datepicker-toggle>
          <mat-datepicker #dtCad></mat-datepicker>
        </mat-form-field>
      </div>
      <div
        fxLayout.gt-xs="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between baseline"
        fxFill
        [ngClass]="{toggleSearchBox: !formCovid.get('e_paciente').value == true}"
      >
        <mat-form-field fxFlex.gt-xs="60" fxFill>
          <input
            matInput
            placeholder="Nome do paciente"
            [matAutocomplete]="auto"
            [formControlName]="'nome_paciente'"
            #searchInput
            (input)="search(searchInput.value)"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="isLoading">Carregando...</mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option
                *ngFor="let paciente of pacientes$ | async"
                [value]="paciente.nome_paciente"
              >
                <span
                  ><b>{{paciente.nome_paciente}}</b> -
                  {{paciente.data_nasc_paciente}}</span
                >
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Data de nascimento</mat-label>
          <input
            matInput
            formControlName="data_nasc_paciente"
            [matDatepicker]="dtNasc"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dtNasc"
          ></mat-datepicker-toggle>
          <mat-datepicker #dtNasc></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <h2 style="text-align: center;">Questionário</h2>
    <ol class="lista-perguntas" fxLayout="column" fxLayoutGap="2rem">
      <li class="lista-pergunta" fxLayout="column" fxLayoutGap="1rem">
        Você foi diagnosticado com COVID-19 ou você suspeita que já teve ou tem
        COVID-19?
        <mat-radio-group
          aria-label="Selecione uma opção:"
          fxLayout="row"
          fxLayoutAlign="start"
          fxLayoutGap="0.5rem"
          color="primary"
          formControlName="diag_covid"
        >
          <mat-radio-button value="1">Sim</mat-radio-button>
          <mat-radio-button value="0">Não</mat-radio-button>
        </mat-radio-group>
        <mat-divider></mat-divider>
      </li>

      <li class="lista-pergunta" fxLayout="column" fxLayoutGap="1rem">
        Teve febre nos últimos 14 dias?
        <mat-radio-group
          aria-label="Selecione uma opção:"
          fxLayout="row"
          fxLayoutAlign="start"
          fxLayoutGap="0.5rem"
          color="primary"
          formControlName="febre"
        >
          <mat-radio-button value="1">Sim</mat-radio-button>
          <mat-radio-button value="0">Não</mat-radio-button>
        </mat-radio-group>
        <mat-divider></mat-divider>
      </li>
      <li class="lista-pergunta" fxLayout="column" fxLayoutGap="1rem">
        Teve problemas respiratórios, tais como tosse ou dificuldade
        respiratória nos últimos 14 dias?
        <mat-radio-group
          aria-label="Selecione uma opção:"
          fxLayout="row"
          fxLayoutAlign="start"
          fxLayoutGap="0.5rem"
          color="primary"
          formControlName="prob_resp"
        >
          <mat-radio-button value="1">Sim</mat-radio-button>
          <mat-radio-button value="0">Não</mat-radio-button>
        </mat-radio-group>
        <mat-divider></mat-divider>
      </li>
      <li class="lista-pergunta" fxLayout="column" fxLayoutGap="1rem">
        Viajou nos últimos 14 dias?
        <mat-radio-group
          aria-label="Selecione uma opção:"
          fxLayout="row"
          fxLayoutAlign="start"
          fxLayoutGap="0.5rem"
          color="primary"
          formControlName="viagem"
        >
          <mat-radio-button value="1">Sim</mat-radio-button>
          <mat-radio-button value="0">Não</mat-radio-button>
        </mat-radio-group>
        <mat-divider></mat-divider>
      </li>
      <li class="lista-pergunta" fxLayout="column" fxLayoutGap="1rem">
        Teve contato com algum paciente com infecção confirmada por Coronavirus
        nos últimos 14 dias?
        <mat-radio-group
          aria-label="Selecione uma opção:"
          fxLayout="row"
          fxLayoutAlign="start"
          fxLayoutGap="0.5rem"
          color="primary"
          formControlName="contato_infect"
        >
          <mat-radio-button value="1">Sim</mat-radio-button>
          <mat-radio-button value="0">Não</mat-radio-button>
        </mat-radio-group>
        <mat-divider></mat-divider>
      </li>
      <li class="lista-pergunta" fxLayout="column" fxLayoutGap="1rem">
        Teve contato com alguém com sintomas nos últimos 14 dias?
        <mat-radio-group
          aria-label="Selecione uma opção:"
          fxLayout="row"
          fxLayoutAlign="start"
          fxLayoutGap="0.5rem"
          color="primary"
          formControlName="contato_sintomas"
        >
          <mat-radio-button value="1">Sim</mat-radio-button>
          <mat-radio-button value="0">Não</mat-radio-button>
        </mat-radio-group>
        <mat-divider></mat-divider>
      </li>
      <li class="lista-pergunta" fxLayout="column" fxLayoutGap="1rem">
        Participou recentemente de algum encontro, reuniões ou teve contato
        próximo com muitas pessoas desconhecidas?
        <mat-radio-group
          aria-label="Selecione uma opção:"
          fxLayout="row"
          fxLayoutAlign="start"
          fxLayoutGap="0.5rem"
          color="primary"
          formControlName="part_reuniao"
        >
          <mat-radio-button value="1">Sim</mat-radio-button>
          <mat-radio-button value="0">Não</mat-radio-button>
        </mat-radio-group>
        <mat-divider></mat-divider>
      </li>
      <li class="lista-pergunta" fxLayout="column" fxLayoutGap="1rem">
        Possui algum problema crônico respiratório, cardíaco ou de pressão
        arterial?
        <mat-radio-group
          aria-label="Selecione uma opção:"
          fxLayout="row"
          fxLayoutAlign="start"
          fxLayoutGap="0.5rem"
          color="primary"
          formControlName="prob_card_resp"
        >
          <mat-radio-button value="1">Sim</mat-radio-button>
          <mat-radio-button value="0">Não</mat-radio-button>
        </mat-radio-group>
        <mat-divider></mat-divider>
      </li>
      <li class="lista-pergunta" fxLayout="column" fxLayoutGap="1rem">
        Possui algum outro problema de saúde?
        <mat-radio-group
          aria-label="Selecione uma opção:"
          fxLayout="row"
          fxLayoutAlign="start"
          fxLayoutGap="0.5rem"
          color="primary"
          formControlName="prob_outro"
        >
          <mat-radio-button value="1">Sim</mat-radio-button>
          <mat-radio-button value="0">Não</mat-radio-button>
        </mat-radio-group>
        <mat-divider></mat-divider>
      </li>
      <li class="lista-pergunta" fxLayout="column" fxLayoutGap="1rem">
        Faz uso de algum medicamento?
        <mat-radio-group
          aria-label="Selecione uma opção:"
          fxLayout="row"
          fxLayoutAlign="start"
          fxLayoutGap="0.5rem"
          color="primary"
          formControlName="usa_medic"
          #pergMedicamento
        >
          <mat-radio-button (click)="onUsaMedic(true)" value="1"
            >Sim</mat-radio-button
          >
          <mat-radio-button (click)="onUsaMedic(false)" value="0"
            >Não</mat-radio-button
          >
        </mat-radio-group>
        <ng-container *ngIf="formCovid.get('usa_medic').value == '1'">
          <mat-label>Quais?</mat-label
          ><textarea
            formControlName="medic_desc"
            cols="30"
            rows="10"
          ></textarea>
        </ng-container>
        <mat-divider></mat-divider>
      </li>
      <li fxLayout="column" fxLayoutGap="0.8rem">
        <div fxLayout="row" fxLayoutGap="0.8rem">
          <mat-label for="temperatura">Temperatura:</mat-label>
          <input type="text" formControlName="temperatura" fxFlex="10" />
        </div>
        <mat-divider></mat-divider>
      </li>
      <li fxLayout="column">
        <mat-label>Observações:</mat-label
        ><textarea formControlName="obs" cols="30" rows="10"></textarea>
        <mat-divider></mat-divider>
      </li>
      <li fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
        <mat-label style="text-align: justify;">
          Atesto para os devidos fins que não apresento clinicamente nenhum
          sintoma correspondente ao COVID-19, e que possuo conhecimento pra tal.
        </mat-label>
        <div fxLayout="column" fxLayoutAlign="start center">
          <mat-label>Assinatura</mat-label>
          <app-signature-field
            formControlName="assinatura"
          ></app-signature-field>
        </div>
      </li>
    </ol>
    <button
      mat-raised-button
      [disabled]="formCovid.invalid"
      type="submit"
      color="primary"
    >
      Enviar
    </button>
  </form>
</div>
