body {
  font-family: sans-serif;
}

.highlighted-code {
  color: green;
}

#assignment-instructions {
  font-family: sans-serif;
  color: blue;
}

ol li {
  background-color: black;
  color: white;
}

li {
  font-family: inherit;
}

/* li + li {
  background: black;
  color: white;
} */

code {
  color: red;
  font-family: monospace;
}
