<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <p>Pergunta {{currentQuestionIndex + 1}} de {{questions.length }}</p>
  <app-question
    [question]="questions[currentQuestionIndex]"
    (chosenOption)="onChosenOption($event)"
  ></app-question>
  <div fxLayout="row" fxLayoutGap="10px">
    <button (click)="onPrevious()">
      Anterior
    </button>
    <button (click)="onNextSubmit()">
      {{questions.length - 1 === currentQuestionIndex ? "Enviar" : "Próxima"}}
    </button>
  </div>
  <p *ngIf="finishedAnswering">
    Respostas certas: {{rightAnswers.length }} / {{ questions.length }}
  </p>
  <!-- <button (click)="stopTimer()">Stop</button> -->
  <span>Tempo: {{ timer }} </span>
</div>
