<div
  fxLayout="column"
  fxLayoutAlign.gt-xs="center center"
  fxFill
  class="container"
>
  <!-- <mat-card fxFlex.xs="95"> -->
  <!-- <mat-card fxLayout.gt-xs="stretch stretch"> -->
  <mat-card>
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>Sistema de Controle de Prontuários</mat-card-title>
      <mat-card-subtitle>Entre com suas credenciais</mat-card-subtitle>
    </mat-card-header>
    <form>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput placeholder="Usuário" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input type="password" matInput placeholder="Senha" />
        </mat-form-field>
      </mat-card-content>
    </form>
    <mat-card-actions fxLayout="column" fxLayoutAlign="center center">
      <button
        mat-raised-button
        type="submit"
        (click)="showErrorMessage()"
      >
        LOGIN
      </button>
      <a href="#">Esqueci minha senha</a>
    </mat-card-actions>
  </mat-card>
</div>
