<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <!-- <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list> -->
    </div>
  </div>
  <!--   <p [style.font-size]="'30px'">
    {{ notasIniciais[notasIniciais.length - 3] }} |
    <span [ngStyle]="{ 'font-size': '50px', color: 'red' }"
      >{{ notasIniciais[notasIniciais.length - 2] }}
    </span>
    | {{ notasIniciais[notasIniciais.length - 1] }}
  </p>
 -->
  <!-- <p>Interval: {{ time }}</p> -->
</div>
