mat-form-field {
  border: 1px dotted #d32f2f;
}

mat-card-actions {
  padding: 1rem;
}

mat-card-actions button {
  height: 80%;
  margin-top: 0.3rem;
}

mat-card-actions label,
mat-card-actions input {
  width: 100%;
}

mat-card-actions input {
  height: 2rem;
  font-size: 1.2rem;
  border: 0.2rem #d32f2f solid;
  vertical-align: middle;
  letter-spacing: 0.2em;
}

mat-card-actions label {
  /* font-weight: bold; */
  font-size: 1.5rem;
  color: #413e3e;
}

mat-card-content p a:active,
mat-card-content p a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.logo {
  width: 6.56rem;
  height: 2rem;
  background-image: url("../../assets/ufjf-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.partner-logo {
  width: 4.7rem;
  height: 2rem;
  background-image: url("../../assets/plugue-logo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  margin-bottom: 2rem;
}

/* #patrocinadores {
  padding: 0 0.5rem;
  width: 100%;
}

.patrocinador {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border: 0.5px solid #b0b0b0;
}

#realizador {
  background-image: url("../../assets/ufjf-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border: 0.5px solid #b0b0b0;
} */
