<mat-card class="content" fxLayout="column">
  <mat-card-content>
    <div class="header" fxLayout="row" fxLayoutAlign="space-between start">
      <div class="partner-logo"></div>
      <a
        href="https://www.ufjf.br/gv/"
        target="_blank"
        title="Visitar site da UFJF"
      >
        <div class="logo"></div
      ></a>
    </div>
    <p class="msg-title">Instruções do jogo</p>
    <p class="text-line ">
      Para participar do game, sugerimos que você confira o site da UFJF GV e de
      nosso parceiro cultural, a empresa valadarense XXXXXX. Assim você terá
      mais chances de responder corretamente, e em menor tempo, o nosso quiz.
    </p>
    <p class="text-line ">
      Assim que você estiver pronto, é só adicionar a sua matrícula e seguir no
      jogo.
    </p>
    <p class="text-line ">
      Confira todas as condições para concorrer ao prêmio do Plugue! Calouros
      2021.1 no <a href="http://www.ufjf.br/gv">www.ufjf.br/gv</a> ou o
      <a href="https://www.instagram.com/ufjfcampusgv/">@ufjfcampusgv</a>.
    </p>
    <p class="text-line ">
      Seja bem-vind@ à UFJF GV. E boa sorte!
    </p>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
      <div fxLayout="column" fxLayoutAlign="center center">
        <!-- box-realizador -->
        <span>Realização:</span>
        <div id="realizador"></div>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center">
        <!-- box-patrocinadores -->
        <span>Apoio Cultural:</span>
        <div
          id="patrocinadores"
          fxLayout="row wrap"
          fxLayout.xs="row wrap"
          fxLayoutAlign="center center"
          fxLayoutGap="1rem"
        >
          <a
            *ngFor="let patrocinador of patrocinadores"
            [href]="patrocinador.socials"
            target="_blank"
            title="Visitar Instagram"
          >
            <div
              class="patrocinador"
              [style.background-image]="'url(' + patrocinador.logo + ')'"
            ></div>
          </a>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="0.1rem"
  >
    <label for="matricula">Matrícula </label>
    <input
      [(ngModel)]="matricula"
      name="matricula"
      placeholder="Ex. 123456"
      inputmode="numeric"
      pattern="[0-9]*"
      (input)="onInput($event)"
    />
    <button
      [disabled]="matricula == ''"
      mat-raised-button
      color="warn"
      class="custom-btn"
      routerLink="/quiz"
      [queryParams]="{matricula:matricula}"
    >
      Começar!
    </button>
  </mat-card-actions>
</mat-card>
