<mat-card class="content" fxLayout="column">
  <mat-card-content>
    <div class="header" fxLayout="row" fxLayoutAlign="space-between start">
      <div class="partner-logo"></div>
      <a
        href="https://www.ufjf.br/gv/"
        target="_blank"
        title="Visitar site da UFJF"
      >
        <div class="logo"></div
      ></a>
    </div>
    <p class="msg-title">Instruções do jogo</p>
    <p class="text-line ">
      Para participar do game, sugerimos que você confira o site da UFJF-GV
      <a href="https://www.ufjf.br/gv" target="_blank">(www.ufjf.br/gv)</a>.
      Assim você terá mais chances de responder corretamente, e em menor tempo,
      o nosso quiz.
    </p>
    <p class="text-line ">
      Quando estiver pronto, é só adicionar a sua matrícula e seguir no jogo.
    </p>
    <p class="text-line ">
      Seja bem-vind@ à UFJF-GV. E boa sorte!
    </p>
  </mat-card-content>
  <mat-card-actions
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="0.1rem"
  >
    <label for="matricula">Matrícula </label>
    <input
      [(ngModel)]="matricula"
      name="matricula"
      placeholder="Ex. 123456GV"
    />
    <button
      [disabled]="!matricula"
      mat-raised-button
      color="warn"
      class="custom-btn"
      routerLink="/quiz"
      [queryParams]="{matricula:matricula}"
    >
      Começar!
    </button>
  </mat-card-actions>
</mat-card>
